
<div class="body-wrapper">
    <div id="showcase">
        <h1>Welcome to SabreKlast</h1>
    </div>
    <div class="content-container" id="content">
        This portfolio site was created to showcase my capabilities developing both front-end and back-end web development.  The intent is to include a resume, a site consuming a RESTful API, a game or two, a Brochure site and an E-commerce site.  Some of the technology includes Bootstrap, React, NodeJS/Express, authentication and usage of MongoDB.
    </div>
      <!-- <a href="#" class="btn">Read More</a> -->
</div>
  
  <!-- <script>
    const nav = document.querySelector('.nav')
      window.addEventListener('scroll', fixNav)
      function fixNav(){
        if (window.scrollY > nav.offsetHeight + 20){
          nav.classList.add('active')
        } else {
          nav.classList.remove('active')
        }
      }
  </script> -->



