@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* set up some constants */
:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.3rem;
  --fs-body: 1.2rem;
  --fs-xl: 4rem;
  --clr-main-blue:rgba(58, 187, 247, 0.651);
  --clr-main-green: rgba(24, 160, 69, 0.664);
  --clr-skills-bar: rgba(60, 73, 250, 0.678);
  --clr-main-white: rgb(245, 245, 245);
  --clr-body-bg: rgba(216, 214, 214, 0.5);
}

/* body {
  /* background: var(--clr-body-bg); 
  max-width: 65rem;
  min-width: 52rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--clr-body-bg);
  border-radius: 15px;
} */

.paper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* margin: 5px; */
  max-width: 75rem;
  min-width: 60rem;

  /* height: 95%; */
  /* width: 95%; */
  /* border: 1px solid red; */
}

p {
  margin: 0;
  padding: 0;
}
 h3 {
  text-transform: uppercase;
  font-size: var(--fs-h3);
 }


.name-container {
  width: 100%;
  height: 200px;
  background-color: var(--clr-main-blue);
  display:flex;
  margin-bottom: 10px;
  margin-top: 0px;
}
.name-container h1 {
  color: var(--clr-main-white);
  height: 6rem;
  position: relative;
  margin: 0;
  top: 50%;
  left: 32rem;
  font-size: 4rem;
  text-transform: uppercase;
}

.position-container {
  margin: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--clr-main-green);
  display:flex;
  /* margin-bottom: 0px; */
}
.position-container h2 {
  color: var(--clr-main-white);
  margin: 0;
  position: relative;
  top: .5rem;
  left: 27rem;
  font-size: var(--fs-h2);
}

.section-title {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.section-title-info {
  font-size: var(--fs-body);
}

.volunteer-section-info {
  margin-bottom: 20px;
}

.skills-collection-container {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: var(--clr-main-white);
  /* border: 1px solid var(--clr-main-blue); */
  top: 2rem;
  left: 2rem;
  background: url("/images/skills1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* .skills-collection {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
} */

.skill-rating {
  height: 1rem;
  margin-top: .2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: var(--clr-skills-bar);
}

.troubleshooting-rating, .software-design-rating {
  width: 85%;
}

.thinking-rating, .problem-solving-rating, .logic-rating, .risk-management-rating {
  width: 75%;
}
.orgaizational-rating, .training-rating {
  width: 65%;
}
.webdeveloping-rating {
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 57.7%;
  grid-column-gap: 1.5rem;
}

.about-me-section {
  margin-top: 40px;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: 25% 65%;
  grid-template-rows: 50% 25% 25%;
  grid-gap: 5px;
}

.contact-map-pointer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 30px;
  margin-left: 2.0rem;
}
.contact-phone {
  grid-column: 1 / 2;
  width: 30px;
  margin-left: 2rem;

}
.contact-email {
  grid-column: 1 / 2;
  width: 30px;
  margin-left: 2rem;
}

.contact-street-address,.contact-email-address {
  grid-column: 2 / 3;
}

.contact-cell-number {
  grid-column: 2 / 3;
  padding-top: 5px;
}

.training-grid-container, .education-grid-container, .experience-grid-container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 5px;
}

.right-section-dates {
  grid-column: 1 / 2;
}
.right-section-info {
  grid-column: 2 / 3;
} 

.grid-section-year, .grid-section-title {
  font-weight: var(--fw-bold) ;
}

.experience-UO-logo {
  width: 30px;
}

.experience-parker-logo {
  width: 40px;
}

.experience-corning-logo {
  width: 60px;
}

footer {
  border-top: 1px solid lightgray;
  text-align: center;
  font-size: .8rem;
  padding: 10px;
  color: rgb(143, 143, 143);
}

@media (max-width: 45rem) {
  .name-container h1 {
    font-size: 3.5rem;
  }
  .position-container h2 {
    font-size: 1.5rem;
    top: 1rem;
  }
  .paper {
    margin-left: .5rem;
    margin-right: .5rem;
  
  }

}
