<div class="paper">

    <div class="name-container">
      <h1 class="name">James Meade</h1>
    </div>
    <div class="position-container">
      <h2 class="desired-position">Aspiring Full Stack Web Developer</h2>
    </div>
    <div class="skills-collection-container">
      <!-- <img src="../web-resume/skills1.png" alt="skills symbols" class="skills-collection"> -->
    </div>
    
    <div class="grid-container">
      <div class="left-column-container">
        <h3 class="about-me-section section-title">About Me</h3>
        <p class="section-title-info">
          Experienced Control System Engineer with a demonstrated history of working in the entertainment, manufacturing and process industries.  Seeking a career change leveraging my project, engineering and software skills as a web developer.
        </p>

        <h3 class="contact-section section-title">Contact</h3>
        <div class="contact-grid-container">
          <img src="https://img.icons8.com/plasticine/100/000000/marker.png" alt="map pointer" class="contact-map-pointer">
          <span class="contact-street-address">
            7218 Enchanted Lake Dr. <br>
            Winter Garden, FL 34787
          </span>
          <img src="https://img.icons8.com/nolan/64/cell-phone.png"" alt="phone" class="contact-phone">
          <span class="contact-cell-number">910.777.3743</span>
          <img src="https://img.icons8.com/nolan/64/send-mass-email.png"" alt="email" class="contact-email">
          <a class="contact-email-address" href="mailto:mrsabre1@yahoo.com">mrsabre1@yahoo.com</a>  
        </div>
      
        <h3 class="skills-section section-title">Skills</h3>
        <span class="troubleshooting-skill skill-item">Troubleshooting</span>
        <div class="troubleshooting-rating skill-rating"></div>
      
        <span class="thinking-skill skill-item">Critical/Inovative Thinking</span>
        <div class="thinking-rating skill-rating"></div>
      
        <span class="webdeveloping-skill skill-item">Web Developing</span>
        <div class="webdeveloping-rating skill-rating"></div>
      
        <span class="orgaizational-skill skill-item">Organizational Skills</span>
        <div class="orgaizational-rating skill-rating"></div>
      
        <span class="problem-solving-skill skill-item">Complex Problem Solving</span>
        <div class="problem-solving-rating skill-rating"></div>
      
        <span class="logic-skill skill-item">Logic</span>
        <div class="logic-rating skill-rating"></div>
      
        <span class="software-design-skill skill-item">Software Design</span>
        <div class="software-design-rating skill-rating"></div>
      
        <span class="risk-management-skill skill-item">Risk Management</span>
        <div class="risk-management-rating skill-rating"></div>
        
        <span class="training-skill skill-item">Training/Instructing</span>
        <div class="training-rating skill-rating"></div>
    
      </div>

      <div class="right-column-container">
        <h3 class="section-title">Career Objective</h3>
        <p class="section-title-info right-section-heading">
          Highly talented individual with strong analytical skills desires to work as a Jr. Web Developer responsible for producing high-quality solutions for customers.   Developing  a proficiency implementing solutions in HTML, Javascript, CSS, Bootstrap and React. 
        </p>
        <h3 class="section-title">Training</h3>
        
        <div class="training-grid-container">
          <span class="grid-section-year right-section-dates">2021</span>
          <span class="grid-section-title right-section-info">Udemy: 50 Projects in 50 Days</span>
          <p class="training-item1-info right-section-info">
            HTML, CSS & JavaScript <br>
            Brad Traversy - Instructor
          </p>
        
          <span class="grid-section-year right-section-dates">2020</span>
          <span class="grid-section-title right-section-info">Udemy: The Complete 2021 Web Development Bootcamp</span>
          <p class="training-item2-info right-section-info">Dr. Angela Yu - Instructor</p>
        
          <span class="grid-section-year right-section-dates">2020</span>
          <span class="training-item3-info right-section-info">
            <b>Multiple Tutorials:</b> HTML, CSS, JavaScript, Bootstrap, NodeJS, MongoDB, React
          </span>
        </div>
      
        <h3 class="section-title">Education</h3>
        <div class="education-grid-container">
          <span class="grid-section-year right-section-dates">BSEE</span>
          <span class="education-degree right-section-info"><b>Bachelor of Science, Electrical Engineering</b> <br> Ohio Northern University, Ada, Ohio
          </span>
  
        </div>
      
        <h3 class="section-title">Experience</h3>
        <div class="experience-grid-container">
          <span class="grid-section-year right-section-dates">2019</span>
          <span class="grid-section-title right-section-info">Universal Orlando Resort - Controls Engineer </span>
          <p class="experience-company-info right-section-info">
            Provided engineering support  & safety for all attractions, upgraded operation and safety for legacy venues  <img src="https://static.wikia.nocookie.net/logopedia/images/2/29/Logo_UOR_tcm13-48662.png" alt="UO logo" class="experience-UO-logo">

          </p>
        
          <span class="grid-section-year right-section-dates">2013</span>
          <span class="grid-section-title right-section-info">Parker-Hannifin Drive Div - Project Engineer </span>
          <p class="experience-company-info right-section-info">
            Designed largge, complex custom drives systems for heavy manufacturing <img src="https://www.parker.com/parker/newparkerstyle/responsive/images/logo.png" alt="Parker logo" class="experience-parker-logo">

          </p>
        
          <span class="grid-section-year right-section-dates">2012</span>
          <span class="grid-section-title right-section-info">Corning Optical Fiber – Project Engineer</span>
          <p class="right-section-info">
            Implemented multiple, simultaneous machine, process and safety controls projects both domestic and international with control system value of $4mm   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Corning_Incorporated_Logo.svg/1280px-Corning_Incorporated_Logo.svg.png" alt="Corning logo" class="experience-corning-logo">
          </p>
        </div>
      
        <h3 class="section-title">Volunteer & Leadership</h3>
        <p class="section-title-info volunteer-section-info ">
          Cub Scout leader, Boy Scout leader, Little League baseball coach, Parent/Teacher volunteer, Pro Football Hall of Fame volunteer, Habitat for Humanity volunteer, Home Owner’s Association committees member, Wilmington Azalea Festival volunteer
        </p>
      </div>
    </div>
  </div>
